

<!DOCTYPE html>
<html>
<body>
    

    <h1>Call KKDAY API TEST</h1>
    <a href="https://api-search.sit.kkday.com/v1/search/prod?lang=en&currency=USD">
    api測試參考：https://api-search.sit.kkday.com/v1/search/prod?lang=en&currency=USD</a>

    <br>
    <h3>---吐出Json---</h3>
    <p>@ViewData["ApiJson"]</p>

</body>
</html>




